#.gitignore file.

#Shows up odd in Windows explorer.
*.db
*.dmb
*.lk
*.rsc
*.int
MDATA
SDATA
ADATA
ACACHE
LDATA
DLANG
Grammar Reduced.txt
Operator Precedences.txt
Script Grammar.txt
oggenc2.exe
encode.bat
Project/Maps/backup/*